@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 0 12px;
    margin-bottom: 12px;

    .logo-container {
        width: 43px;
        z-index: 2;

        .logo {
            @include font(10px, 1.37, $weight-regular, $black);
            display: block;
            text-transform: uppercase;
        }
    }

    .page-title {
        @include font(18px, 24px, $weight-regular, $project-red);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .hamburger__menu-button {
        background-color: transparent;
        cursor: pointer;
        border: 0;
        z-index: 2;

        .hamburger-menu {
            @include icon-mask('menu.svg');
            display: inline-block;
            width: 24px; 
            height: 24px;
            background-color: $black;
            vertical-align: middle;

        }
    }
}

@media screen and (min-width: $tablet) {
    .header {
        .page-title {
            font-size: 24px;
        }
    }
}

@media screen and (min-width: $desktop) {
    .header {
        align-items: center;
        padding: 24px 0;
        margin-bottom: 24px;

        .logo-container {
            width: 80px;

            span {
                font-size: 16px;
            }
        }

        .page-title {
            font-size: 36px;
        }

        .hamburger__menu-button {
            display: none;
        }
    }
}