// breakpoints

$tablet: 768px;
$desktop: 1280px;

// fonts

$font-primary: 'Montserrat', sans-serif;

// colors

$white: #fff;
$black: #000;
$project-red: #FF473A;
$inactive-gray: #D4D4D4;
$hihglighted-black: #050505;

