@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


.tickets___container {
    .tickets__title-container {
        .tickets__title {
            @include font(24px, 30px, $weight-regular, $black);
            max-width: 275px;
        }

        .tickets__description {
            @include font(12px, 18px, $weight-regular, $project-red);
            margin-bottom: 10px;
            max-width: 270px;
        }
    }

    .tickets__ticket-container {
        .tickets__day-selector {
            border-bottom: 2px solid $inactive-gray;
            display: flex;
            justify-content: space-between;
            margin-bottom: 4px;
            padding: 0 25px 0 15px;
            position:relative;
            width: 100%;

            .tickets__today,
            .tickets__tomorrow,
            .tickets__other {
                background-color: transparent;
                border: 0;
                color: $inactive-gray;
                cursor: pointer;
                font-size: 18px;
                line-height: 24px;
                padding: 16px 0 6px;
            }

            .active-day-selector {
                border-bottom: 3px solid $project-red;
                color: $hihglighted-black;
                margin-bottom: -2px;
                padding: 10px 0 12px;
                position: relative;
                z-index: 1;
            }
        }

        .tickets__ticket-types {
            align-items: center;
            display: flex;
            flex-direction: column;
            font-size: 12px;
            margin-bottom: 53px;
        }

        .tickets__ticket-type-container {
            border-bottom: 3px solid $project-red;
            display: flex;
            flex-direction: column;
            gap: 32px;
            padding: 0 20px 48px 16px;

            .tickets__ticket-type {
                display: flex;
                justify-content: space-between;
            
                .tickets__ticket-type-name {
                    .tickets__ticket-type-title {
                        @include font(18px, 1, $weight-regular, $black);
                    }

                    .tickets__ticket-type-note {
                        @include font(12px, 1, $weight-regular, $inactive-gray);
                    }
                }

                .tickets__ticket-number-container {
                    align-items: center;
                    display: flex;
                    gap: 9px;

                    .tickets__ticket-number {
                        @include font(18px, 1, $weight-regular, $black);
                    }

                    .tickets__ticket-minus,
                    .tickets__ticket-plus {
                        @include flex-center;
                        background-color: transparent;
                        border: 1px solid $inactive-gray;
                        color: $inactive-gray;
                        height: 18px;
                        width: 18px;
                    }
                }
            }
        }

        .tickets__payment {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            padding: 4px 32px 16px 16px;
            width: 100%;

            .ticket__payment-text {
                @include font(18px, 1, $weight-regular, $black);
            }
        }

        .tickets__payment-button {
            @include flex-center;
            @include font(12px, 1, $weight-regular, $white);
            background-color: $project-red;
            border: 0;
            cursor: pointer;
            height: 42px;
            margin: 0 auto;
            width: 248px;
        }
    }
}


@media screen and (min-width: $desktop) {
    .tickets___container {
        .tickets__title-container {
            min-width: 350px;

            .tickets__title {
                font-size: 32px;
                line-height: 36px;
                margin-bottom: 8px;
                max-width: unset;
                text-align: center;
            }

            .tickets__description {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 16px;
                max-width: unset;
                text-align: center;
            }
        }

        .tickets__ticket-container {
            width: 100%;

            .tickets__ticket-types {
                font-size: 16px;
                margin-bottom: 32px;
            }

            .tickets__ticket-type-container {
                gap: 24px;
                padding-bottom: 24px;
            }
        }
    }
}