@use './components/menu';
@use './components/header';
@use './pages/collections';
@use './pages/tickets';

@use './abstracts/variables' as *; 
@use './abstracts/mixins' as *;

//RESET

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
}

input,
button {
    font: inherit;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

//BODY
.container {
    padding: 0 15px 0 12px;
}

@media screen and (min-width: $tablet) {
    .container {
        max-width: 740px;
        padding: 24px 0;
        margin: 0 auto;
    }
}

@media screen and (min-width: $desktop) {
    .container {
        max-width: 1280px;
        padding: 0 32px 0 342px;
    }
}
